@use '../helpers/variables';
@use '../helpers/placeholders';

.image-gallery {
  .gallery-buttons {
    position: absolute;
    top: 50%;
    left: 1.2rem;
    right: 1.2rem;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
    z-index: 100;
    img {
      width: 14px;
      height: 14px;
      background-color: variables.$white;
      padding: 1rem;
      border-radius: 50%;
      @media (hover: hover) {
        cursor: pointer;
      }
    }
  }
}

.add-item {
  @extend %big-button;
  background-color: variables.$light-grayish-blue;
  justify-content: space-between;
  img {
    @media (hover: hover) {
      cursor: pointer;
    }
  }
}

.add-to-cart-button {
  @extend %big-orange-button;
  .cart {
    margin-right: 10px;
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7500%) hue-rotate(212deg) brightness(101%) contrast(102%);
  }
  p {
    margin: 0;
  }
  @media (hover: hover) {
    cursor: pointer;
  }
}

.checkout-button {
  @extend %big-orange-button;
  height: 20px;
  @media (hover: hover) {
    cursor: pointer;
  }
}
