.grid-container {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  max-height: 900px;
}

@media (min-width: 768px) {
  .grid-container {
    grid-template-columns: 1fr 1fr;
  }
}
